<section class="text-white ">

    <div class="container d-flex justify-content-center align-items-center flex-column ">
        <h2 class="fw-bold">ABOUT COMPONENT</h2>
        <div class="icon-home  py-3"> <i class="fa-solid fa-star "></i></div>
       <div>
        <div class="row">
            <div class="col-md-6"><div ><p> Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p></div></div>
            <div class="col-md-6"><div><p> Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p></div></div>
                       
        </div>
       </div>
    </div>

   
</section>
