.bg-color{
    background-color: #2c3e50;
}




.header-portfolio-contact p{
    position: relative;
    margin-top:30px ;
    
}
.header-portfolio-contact p::after{
    content: '';
    width: 8%;
    height: 4px;
    background-color: black;
    position: absolute;
    bottom: 50%;
    transform: translatey(50%);
   right:  40%;
}
.header-portfolio-contact p::before{
    content: '';
    width: 8%;
    height: 4px;
    background-color: black;
    position: absolute;
    bottom: 50%;
    transform: translatey(50%);
   left:  40%;
}

