section{
    background-color: #1abc9c;
   
    img{
        width: 250px;
    }
}
.icon-home{
    position: relative;
   i{
    font-size: 15px;
   }

}
.icon-home::after{
    content: '';
    position: absolute;
    width: 80px;
    height:4px;
    background-color: #fff;
    left: 40px;
    bottom: 50%;
    transform: translateY(50%);
}
.icon-home::before{
    content: '';
    position: absolute;
    width: 80px;
    height: 4px;
    background-color:#fff;
    right: 40px;
    bottom: 50%;
    transform: translateY(50%);
}

